.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0;
    border-bottom: 1px solid #e1e1e1
}
@media(max-width:990px){
    .service{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (max-width:540px){
    .service{
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
}
@media (max-width:320px){
    .service{
        margin-top: 20px;
    }
}

.service-item {
    width: 24%;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}
@media(max-width:990px){
    .service-item{
        width: 48%;
        flex-direction: column;
   
    }
}
@media (max-width:540px){
    .service-item{
        display: flex;
        flex-direction: row;
        width: 70%;
        /* margin-left: 50px; */
        padding-bottom: 15px;
        margin-top: 0px;
    }
}
@media (max-width:320px){
    .service-item{
        width: 100%;
        margin-left: 10px;
    }
}
.service-item h2 {
    font-size: 16px;
    color: #0a472e;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 12px;
    color: #555;
}

.service-item img {
    margin-right: 20px;
}

.service-item::after {
    position: absolute;
    content: " ";
    height: 2px;
    width: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
}

.service-item:hover::after {
    opacity: 1;
    width: 100%;
    transition: .4s;
}

